<div class="console-container" [ngStyle]="{'background': background}">
  <div *ngIf="showLogin()" class="console-login">
    <div class="login-input">
      <mat-form-field class="login-text">
        <input type="password" matInput placeholder="Access Token" [(ngModel)]="loginToken" (keydown)="onKey($event)">
      </mat-form-field>
    </div>
    <div class="login-button">
      <button mat-raised-button color="primary" (click)="onLogin()">GO</button>
    </div>
  </div>

  <div *ngIf="!showLogin()" class="console-stats">
    <div>
      <div class="stats-pad"></div>
      <div class="stats-header">IndiView Stats</div>
      <button mat-raised-button colors="primary" class="stats-button" (click)="onConfig()">Configure</button>
    </div>
    <canvas baseChart width="400" height="200"
                  [datasets]="lineChartData"
                  [labels]="lineChartLabels"
                  [options]="lineChartOptions"
                  [colors]="lineChartColors"
                  [legend]="lineChartLegend"
                  [chartType]="lineChartType"
                  [plugins]="lineChartPlugins"></canvas>
    <div class="stats-radio">
      <div class="stats-option">
        <i *ngIf="mode=='processor'" class="fa fa-circle stats-icon" (click)="onMode('processor')"></i>
        <i *ngIf="mode!='processor'" class="fa fa-circle-o stats-icon" (click)="onMode('processor')"></i>
        <span class="stats-label" (click)="onMode('processor')">Idle CPU</span>
      </div>
      <div class="stats-option">
        <i *ngIf="mode=='memory'" class="fa fa-circle stats-icon" (click)="onMode('memory')"></i>
        <i *ngIf="mode!='memory'" class="fa fa-circle-o stats-icon" (click)="onMode('memory')"></i>
        <span class="stats-label" (click)="onMode('memory')">Free Memory</span>
      </div>
      <div class="stats-option">
        <i *ngIf="mode=='storage'" class="fa fa-circle stats-icon" (click)="onMode('storage')"></i>
        <i *ngIf="mode!='storage'" class="fa fa-circle-o stats-icon" (click)="onMode('storage')"></i>
        <span class="stats-label" (click)="onMode('storage')">Available Storage</span>
      </div>
      <div class="stats-option">
        <i *ngIf="mode=='requests'" class="fa fa-circle stats-icon" (click)="onMode('requests')"></i>
        <i *ngIf="mode!='requests'" class="fa fa-circle-o stats-icon" (click)="onMode('requests')"></i>
        <span class="stats-label" (click)="onMode('requests')">Request Rate</span>
      </div>
      <div class="stats-option">
        <i *ngIf="mode=='accounts'" class="fa fa-circle stats-icon" (click)="onMode('accounts')"></i>
        <i *ngIf="mode!='accounts'" class="fa fa-circle-o stats-icon" (click)="onMode('accounts')"></i>
        <span class="stats-label" (click)="onMode('accounts')">Active Accounts</span>
      </div>
    </div>
  </div>
</div>
